.game-object {
    background-repeat: no-repeat;
    position: absolute;
}

.interactable-object {
    font-size: 3px;
    margin-top: -5px;
    color: white;
    text-align: center;
    font-weight: 600;
}

.none-interactable-object {
    visibility: collapse;
}