.game-canvas{
    position: relative;
    width: 352px;
    height: 198px;
}

.interface {
    height: 100px;
    width: 100px;
    background-color: grey;
    position: absolute;
    z-index: 10;
    left: 126px;
    top: 20%;
}

.interact-window {
    height: 20px;
    width: 50px;
    background-color: yellowgreen;
    position: absolute;
    z-index: 9;
    left: 45%;
    top: 35%;
}